<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/telascores.css">
    <title>Tela inicial - Nível ADM - </title>
</head>
<body>



    <main class="container">

    <div class="letreiro">Lar Boa Viagem</div>

    <div class="buttons-container">
        <div class="row-1">

        
            <a href="verquarto.html" class="menu-button">
                <img class="img-icon" src="../static/img/quartodoscara.png" width="100" height="100" />
                <span class="button-label">Quartos</span>
            </a>

            <a href="criarquarto.html" class="menu-button">
                <img class="img-icon" src="../static/img/cadastrar_quartos.png" width="100" height="100" />
                <span class="button-label">Cadastrar Quartos</span>
            </a>

            <a href="criarhospede.html" class="menu-button">
                <img class="img-icon" src="../static/img/cadastrar_hospedes.png" width="100" height="100" />
                <span class="button-label">Cadastrar Hóspedes</span>
            </a>

        </div>

        <div class="row-2">
            

           
        </div>
</main>
    
</body>
</html>