@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: #e6f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-custom {
    width: 95%;
    max-width: 1400px;
    background-color: rgba(255,255,255,0.95);
    border-radius: 12px;
    padding: 35px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


.titulo {
    text-align: center;
    font-size: 30px;
    color: #2c3e50;
    margin-bottom: 30px;
    font-family: "BBH Sans Hegarty", sans-serif;
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #3498db;
}

th {
    padding: 12px;
    color: white;
    text-align: left;
    font-size: 14px;
}


td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #2c3e50;
}

tbody tr:nth-child(even) {
    background-color: #f2f6fc;
}

tbody tr:hover {
    background-color: #d6e9ff;
    transition: 0.2s;
}


.nome {
    font-weight: bold;
    color: #2980b9;
}

.button_edit,
.button_delete {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

/* Botão Editar */
.button_edit {
    background-color: #3498db;
    color: white;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

.button_edit:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Botão Deletar */
.button_delete {
    background-color: #e74c3c;
    color: white;
    box-shadow: 0 4px 8px rgba(231, 76, 60, 0.3);
}

.button_delete:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}
