@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BBH Sans Hegarty", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url('../img/fundologin.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(125, 183, 255, .2);
    border-radius: 10px;
    color: #7db7ff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);

}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #7db7ff;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #7db7ff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #8dabcf;
}

.input-box i {
    position: absolute;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.selectbutton {

    width: 100%;
    display: flex;

    justify-content: center;

    margin: 30px 0;
}


.selectbutton select {

    width: 100%;
    height: 50px;

    background-color: transparent;

    border: 2px solid #7db7ff;
    border-radius: 40px;

    color: #7db7ff;
    font-size: 16px;
    padding: 0 20px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%237db7ff' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}


.selectbutton option {
    background-color: #0d1a2c;
    color: #7db7ff;
}


.login {
    width: 100%;
    height: 50px;
    background-color: rgb(209, 238, 243);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #8dabcf;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid #8dabcf;
    transition: 0.1s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #8dabcf;
    font-weight: 600;
}


.register-link a:hover {
    text-decoration: underline;
}
#id{
    color: black;
}