@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BBH Sans Hegarty", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* ATENÇÃO: Verifique o caminho da imagem de fundo. 
       Se a pasta 'css' estiver dentro de 'static', o caminho deve ser: */
    background: url('../img/fundologin.png'); 
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(125, 183, 255, .2); /* Corrigi a sintaxe do RGBA */
    border-radius: 10px;
    color: #7db7ff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);

}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #7db7ff ;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #7db7ff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #8dabcf;
}

.input-box i{
    position: absolute;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* 1. CENTRALIZAÇÃO e ESTILIZAÇÃO DO CONTAINER SELECTBUTTON */
.selectbutton{
    /* Garante que ele se comporte como os elementos acima (100% largura) */
    width: 100%; 
    display: flex;
    /* Centraliza o conteúdo (o elemento <select>) */
    justify-content: center;
    /* Adiciona margem vertical para separá-lo dos elementos de cima/baixo */
    margin: 30px 0; 
}

/* 2. ESTILIZAÇÃO DO ELEMENTO SELECT */
.selectbutton select{
    /* Para que ele tenha a mesma largura da caixa de input */
    width: 100%; 
    height: 50px;
    /* COR DE FUNDO */
    background-color: transparent; 
    /* BORDA ARREDONDADA */
    border: 2px solid #7db7ff;
    border-radius: 40px;
    /* COR DA FONTE */
    color: #7db7ff; 
    font-size: 16px;
    padding: 0 20px;
    /* Remove a aparência padrão do sistema operacional */
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    /* Opcional: Adiciona um ícone de seta customizado para indicar que é um select */
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%237db7ff' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}

/* 3. ESTILIZAÇÃO DAS OPÇÕES (cor da fonte) */
.selectbutton option{
    /* Para as opções dentro do dropdown, é melhor usar uma cor escura com fundo claro */
    /* Você pode ajustar o fundo para algo que combine com o tema */
    background-color: #0d1a2c; 
    color: #7db7ff;
}


.login{
    width: 100%;
    height: 50px;
    background-color: rgb(209, 238, 243);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #8dabcf;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login:hover{
    background-color: transparent;
    border: 2px solid #8dabcf;
    transition: 0.1s;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: #8dabcf;
    font-weight: 600;
}


.register-link a:hover{
    text-decoration: underline;
}