@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BBH Sans Hegarty", sans-serif;
}


body {
    min-height: 100vh;
    background-color: #e6f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-custom {
    width: 900px;
    max-width: 95%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}


.titulo {
    text-align: center;
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 30px;
}


.quartos-container {
    display:inline;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}


.quarto-card {
    background-color: rgb(246, 246, 246);
    border-radius: 12px;
    padding: 25px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: 0.2s ease;
}

.quarto-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.quarto-card h3 {
    margin-bottom: 15px;
    color: #34495e;
}


.btn-ver-hospedes {
    display: inline-block;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-ver-hospedes:hover {
    background-color: #2980b9;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #7db7ff;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 0 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    z-index: 1000;
}

.nav-group {
    display: flex;
    align-items: center;
}

 
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;

    border-radius: 12px;
    transition: 0.3s;
    text-decoration: none;
}

.nav-btn:hover {
     background: #21a4c8;
}


.nav-icon {
    width: 55px;
    height: 55px;
}

